@import url(banner.css);
@import url(../css/header.css);
@import url(carousel.css);

:root {
    --backgroud-color: #EBECEE;
    --white: #FFFFFF;
    --orange: #EB9800;
    --blue-gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font-main: 'Poppins';
    --blue: #002F52;
}

body {
    background-color: var(--backgroud-color);
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
}

